:host {
  min-width: 8rem;
  max-width: 8rem;
}

.monster-name {
  padding: 1rem;
  background: linear-gradient(to right, white -25%, rgba(var(--gray), .5) 70%, rgba(var(--gold), .5) 70%, white 125%);
}
