<div fxLayout="row"
     fxLayoutGap="5px">
  <div class="active-indicator"
       style="width: 20px; margin-right: 0"
       [ngStyle]="{'visibility': active ? 'visible' : 'hidden'}"></div>

  <section fxLayout="column"
           #leftSection>
    <div class="header">
      <!-- the name and level -->
      <span class="monster-name">{{ monster?.name }}</span>

      <app-monster-level [monsterId]="monster.id"></app-monster-level>

      <div class="header-button-container">
        <button mat-mini-fab
                id="add-token"
                type="button"
                (click)="tokenService.addToken$.next(monster.id)">T
        </button>
      </div>
    </div>

    <div class="stats-container"
         fxLayout="row">
      <ng-container *ngFor="let idx of [0, 1]">
        <app-monster-stats fxFlex
                           [monster]="monster"
                           [index]="idx"
                           [level]="monsterLevel$ | async"
                           [class]="idx === 0 ? 'normal' : 'elite'">
        </app-monster-stats>

        <mat-divider *ngIf="idx === 0" style="border-right-color: rgba(var(--gold), .5); border-right-width: 2px"
                     [vertical]="true"></mat-divider>
      </ng-container>
    </div>
  </section>

  <section #rightSection>
    <app-monster-ability-deck [ngStyle]="{'visibility': !active ? 'visible' : 'hidden'}"
                              [monsterId]="monster?.id"></app-monster-ability-deck>
  </section>
</div>
