<ng-container *ngrxLet="monster$ as monster">
  <div class="monster-list-item-container">
    <div class="active-indicator"
         [ngStyle]="{'display': active ? 'block' : 'none'}"></div>

    <section class="section-container">
      <div class="header">
        <!-- the name and level -->
        <span class="monster-name">{{ monster.name }}</span>

        @if (!isBoss(monster)) {

          <app-monster-level [monster]="monster"></app-monster-level>
        
}

        @if ((monster$ | async)?.flying) {
<span>
          <img class="flying-icon"
               [ngSrc]="'/assets/icons/flying.png'"
               width="1"
               height="1"
               alt="flying">
        </span>
}

        @if (!isBoss(monster)) {

          <div class="header-button-container">
            <button mat-fab
                    extended
                    id="add-token"
                    type="button"
                    [disabled]="(tokenCount$ | async) === 10"
                    (click)="tokenService.addToken$.next(monster.id)">T
            </button>
          </div>
        
}
      </div>

      <div class="all-stats-token-container">
        @for (elite of isBoss(monster) ? [0] : [0, 1]; track elite; let last = $last) {

          <div class="stats-token-container" [class]="!elite ? 'normal' : 'elite'">
            <!-- displays monster attributes such as health, movement, etc. -->
            <app-monster-attributes [monster]="monster"
                                    [index]="elite"
                                    [level]="monsterLevel$ | async"
                                    [ngClass]="{ boss: isBoss(monster) }">
            </app-monster-attributes>

            <!-- displays the Monsters stats including conditions, bonuses, etc. -->
            @if (monsterLevel$ | async; as level) {
<div
                 class="stats-conditions-bonuses-container">
              @for (effect of monster | conditionList : level : $any(elite); track effect) {
<app-monster-stat
                                [condition]="$any(effect)"
                                [conditionAmount]="monster | monsterStat : effect : level : $any(elite)">
              </app-monster-stat>
}

              @for (effect of monster | attackEffectList : level : $any(elite); track effect) {
<app-monster-stat
                                [condition]="$any(effect)"
                                [conditionAmount]="monster | monsterStat : effect : level : $any(elite)">
              </app-monster-stat>
}

              @for (effect of monster | bonusList : level : $any(elite); track effect) {
<app-monster-stat
                                [condition]="$any(effect)"
                                [conditionAmount]="monster | monsterStat : effect : level : $any(elite)">
              </app-monster-stat>
}
            </div>
}

            <div class="token-container">
              @for (token of (tokens$ | async)?.[!elite ? 'normal' : 'elite']; track token) {
<app-token-health class="token-info"
                               
                                (click)="tokenService.updateTokenDetails$.next(token)"
                                [token]="token">
              </app-token-health>
}
            </div>
          </div>

          @if (!elite && !last) {
<mat-divider
                       style="border-right-color: rgba(var(--gold), .5); border-right-width: 2px"
                       [vertical]="true">
          </mat-divider>
}
        
}
      </div>
    </section>

    <app-monster-ability-deck class="list" [monster]="monster"></app-monster-ability-deck>
  </div>
</ng-container>
