<div fxLayout="row"
     fxLayoutGap="5px"
     fxLayoutAlign="start stretch">
  <div class="active-indicator"
       fxFlex="20px"
       [ngStyle]="{'display': active ? 'block' : 'none'}"></div>

  <section fxLayout="column"
           fxFlex="1 0 18rem"
           #leftSection>
    <div class="header">
      <!-- the name and level -->
      <span class="monster-name">{{ monster?.name }}</span>

      <app-monster-level [monster]="monster"></app-monster-level>

      <span *ngIf="monster.flying">
        <img class="flying-icon"
             src="/assets/icons/flying.png">
      </span>

      <div class="header-button-container">
        <button mat-mini-fab
                id="add-token"
                type="button"
                [disabled]="(tokenCount$ | async) === 10"
                (click)="tokenService.addToken$.next(monster.id)">T
        </button>
      </div>
    </div>

    <div class="stats-token-container"
         fxLayout="row">
      <ng-container *ngFor="let elite of [0, 1]">
        <div fxLayout="column"
             fxFlex
             fxLayoutGap=".5rem"
             [class]="!elite ? 'normal' : 'elite'">
          <app-monster-attributes [monster]="monster"
                                  [index]="elite"
                                  [level]="monsterLevel$ | async">
          </app-monster-attributes>

          <div *ngIf="monsterLevel$ | async as level"
               [fxLayout]="!elite  ? 'row wrap' : 'row-reverse wrap'"
               style="gap: .15rem;">
            <app-monster-stat *ngFor="let effect of monster | conditionList : level : $any(elite)"
                              [condition]="$any(effect)"
                              [conditionAmount]="monster | monsterStat : effect : level : $any(elite)"
                              fxLayout="row"
                              fxLayoutAlign="start center">
            </app-monster-stat>

            <app-monster-stat *ngFor="let effect of monster | attackEffectList : level : $any(elite)"
                              [condition]="$any(effect)"
                              [conditionAmount]="monster | monsterStat : effect : level : $any(elite)"
                              fxLayout="row"
                              fxLayoutAlign="start center">
            </app-monster-stat>

            <app-monster-stat *ngFor="let effect of monster | bonusList : level : $any(elite)"
                              [condition]="$any(effect)"
                              [conditionAmount]="monster | monsterStat : effect : level : $any(elite)"
                              fxLayout="row"
                              fxLayoutAlign="start center">
            </app-monster-stat>
          </div>

          <div class="token-container">
            <div class="token-wrapper"
                 *ngFor="let token of (tokens$ | async)?.[!elite ? 'normal' : 'elite']"
                 (click)="tokenService.toggleTokenStatusEffect$.next(token)">
              <app-token-health class="token-info"
                                [token]="token"></app-token-health>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="!elite" style="border-right-color: rgba(var(--gold), .5); border-right-width: 2px"
                     [vertical]="true"></mat-divider>
      </ng-container>
    </div>
  </section>

  <section #rightSection>
    <app-monster-ability-deck [monster]="monster"></app-monster-ability-deck>
  </section>
</div>
