@use 'sass:map';
@use '@angular/material' as mat;

:host {
  max-width: 30rem;
}

.header {
  font-size: 1.5rem;
  position: relative;
  background: linear-gradient(to right, white -25%, rgba(var(--gray), .5) 50%, rgba(var(--gold), .5) 50%, white 125%);
  padding: 1rem;

  .monster-name {
    text-decoration: underline;
    margin: 0;
  }

  .header-button-container {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .flying-icon {
    max-width: 2rem;
    max-height: 2rem;
  }
}

.stats-token-container {
  width: 100%;

  .normal {
    background: linear-gradient(to right, rgba(var(--gray), .5) -25%, rgba(var(--gray), .2) 125%);
  }

  .elite {
    background: rgba(var(--gold), .5);
    background: linear-gradient(to right, rgba(var(--gold), .2) -25%, rgba(var(--gold), .5) 125%);
  }

  .token-container {
    flex-flow: row wrap;
    display: flex;
    box-sizing: border-box;
    flex: 1 1 0;
    margin: 0 6px 6px 0;
    gap: 17px 4px;

    > .token-wrapper {
      padding: 0 -2px -2px 0
    }

    app-token-health {
      background: rgba(var(--gray), .2);
      border-radius: 5px;
      padding: 0 2px;
    }

    .token-wrapper {
      cursor: pointer;
    }
  }
}

app-monster-ability-deck {
  max-width: 9.9rem;
}

app-monster-stat {
  font-size: 1.3rem;

  ::ng-deep .icon {
    max-width: 1.5rem;
  }
}

.active-indicator {
  background: map.get(mat.$deep-purple-palette, 500);
}

.token-info {
  font-size: 1.3rem;
}
