.header {
  position: relative;
  min-width: 16rem;
  background: linear-gradient(to right, white -25%, rgba(var(--gray), .5) 50%, rgba(var(--gold), .5) 50%, white 125%);
  padding: 1rem;

  .status-effect-button {
    position: absolute;
    right: 10px;
  }
}

.monster-name {
  margin: 0;
}

.stats-container {
  width: 100%;
}
