<!-- overlay for choosing a token's applied statuses -->
<div *ngIf="selectedToken"
     [ngStyle]="{ 'visibility': selectedToken ? 'visible': 'hidden' }"
     class="status-select-overlay">
  <button mat-mini-fab
          (click)="closeStatusSelectOverlay()"
          style="position: absolute; right: 5px; top: 5px;">
    <mat-icon>cancel</mat-icon>
  </button>

  <div fxFlexFill
       fxLayout="row wrap"
       fxLayoutAlign="center center"
       fxLayoutGap=".7rem grid"
       style="padding: 2rem;">
    <img *ngFor="let value of ApplicableConditions"
         [src]="'assets/icons/' + value.toLowerCase() + '.png'"
         [ngStyle]="{ 'filter': (selectedToken?.appliedConditionsAndEffects?.[value.toString()] ?? 0) > 0 ? 'brightness(100%)' : 'brightness(50%)' }"
         (click)="tokenService.toggleTokenStatus$.next({ token: selectedToken, condition: value})"
    >
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{value?.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- stats section for both normals and elites -->
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="row" fxFlex *ngFor="let index of [0, 1]">
        <div fxLayout="column" fxFlex [fxLayoutAlign]="index === 0 ? 'start start' : 'start end'">
          <!-- monster stats on the monster info card -->
          <div fxLayout="row" class="monster-status-container mat-title">
            <span fxLayout="column" fxLayoutAlign="start center">
              <img class="icon" src="assets/icons/health.png">
              {{getStatDisplayValue(value?.health?.[scenarioLevel ?? 0]?.[index])}}
            </span>

            <span fxLayout="column" fxLayoutAlign="start center">
              <img class="icon" src="assets/icons/move.png">
              {{getStatDisplayValue(value?.move?.[scenarioLevel ?? 0]?.[index])}}
            </span>

            <span fxLayout="column" fxLayoutAlign="start center">
              <img class="icon" src="assets/icons/attack.png">
              {{getStatDisplayValue(value?.attack?.[scenarioLevel ?? 0]?.[index])}}
            </span>

            <span fxLayout="column" fxLayoutAlign="start center">
              <img class="icon" src="assets/icons/range.png">
              {{getStatDisplayValue(value?.range?.[scenarioLevel ?? 0]?.[index])}}
            </span>
          </div>

          <!-- statuses that the monster has on it's monster info card -->
          <div fxLayout="row">
            <div *ngFor="let condition of ConditionsAndEffects">
              <img *ngIf="hasCondition(condition, index === 1)"
                   [src]="'assets/icons/' + condition.toLowerCase() + '.png'"
                   style="max-width: 2rem; max-height: 2rem;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="mat-title">Tokens</div>

    <div fxLayout="row">
      <ng-container *ngIf="tokens$ | async as tokens">
        <ng-container *ngFor="let tokenType of ['normals', 'elites']">
          <div fxFlex="50"
               fxLayout="column"
               fxLayoutAlign="start start"
               class="token-list-container">
            <ng-container *ngFor="let token of tokens?.[tokenType]"
                          [ngTemplateOutlet]="listItemTemplate"
                          [ngTemplateOutletContext]="{ '$implicit': token }">
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab
            type="button"
            (click)="addToken()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #listItemTemplate let-token>
  <div
    [id]="'list-item-' + (token.elite ? 'elite' : 'normal')"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap=".3rem"
    class="list-item">
    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap=".3rem">
      <div>{{token.number}} -</div>
      <div class="text-red-600"
           type="number">
        {{token.health ?? token.maxHealth}}
      </div>
    </div>

    <div fxLayout="column"
         fxLayoutAlign="space-between center"
         fxLayoutGap="-5px">
      <span style="cursor: pointer"
            (click)="tokenService.updateTokenHitPoint$.next([token, (token.health ?? token.maxHealth) + 1])"
            class="material-symbols-outlined">arrow_drop_up</span>

      <span style="cursor: pointer"
            (click)="tokenService.updateTokenHitPoint$.next([token, (token.health ?? token.maxHealth) - 1])"
            class="material-symbols-outlined">arrow_drop_down</span>
    </div>

    <!-- active statuses -->
    <div fxFlex
         fxLayout="row wrap"
         fxLayoutAlign="start center"
         (click)="showStatusSelectOverlay(token)">
      <ng-container *ngIf="getTokenConditionsAndEffects(token).length > 0; else openApplicableConditions">
        <ng-container *ngFor="let value of getTokenConditionsAndEffects(token)">
          <img
            [src]="'assets/icons/' + value.name.toLowerCase() + '.png'"
            class="status-icon">
        </ng-container>
      </ng-container>

      <ng-template #openApplicableConditions>
        <span style="cursor: pointer" class="material-icons-outlined">more_horiz</span>
      </ng-template>
    </div>
  </div>
</ng-template>
