:host {
  position: relative;
}

:host ::ng-deep {
  .mat-card {
    background: linear-gradient(to right, white -25%, rgba(117, 117, 117, .5) 50%, rgba(130, 106, 25, .5) 50%, white 125%);

    .mat-card-content {
      min-width: 20rem;
      min-height: 16rem;
    }
  }

  .list-item {
    padding: 0 .5rem;
  }

  .p-button {
    max-width: 20px;
    max-height: 20px;
  }

  .p-divider {
    &.p-divider-vertical {
      margin: 0 .5rem;
    }

    &.p-divider-horizontal {
      margin: .5rem 0;
    }
  }
}


