<div
  style="z-index: 100; position:absolute; background: black; width: 100%; height: 100%; opacity: .25"
  [ngStyle]="{ 'visibility': showStatusSelectDialog ? 'visible': 'hidden' }"
  (click)="showStatusSelectDialog = false">
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{value?.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="text-m">
      <!-- normal stats -->
      <div fxLayout="row" style="align-items: flex-start"
           [ngStyle]="{ 'place-content': index === 0 ? 'flex-start' : 'flex-end' }" fxFlex
           *ngFor="let index of [0, 1]">
        <span fxLayout="column" fxLayoutAlign="start center">
          <img class="icon" src="assets/icons/health.png">
          {{getStatDisplayValue(value?.health?.[scenarioLevel ?? 0]?.[index])}}
        </span>

        <span fxLayout="column" fxLayoutAlign="start center">
          <img class="icon" src="assets/icons/move.png">
          {{getStatDisplayValue(value?.move?.[scenarioLevel ?? 0]?.[index])}}
        </span>

        <span fxLayout="column" fxLayoutAlign="start center">
          <img class="icon" src="assets/icons/attack.png">
          {{getStatDisplayValue(value?.attack?.[scenarioLevel ?? 0]?.[index])}}
        </span>

        <span fxLayout="column" fxLayoutAlign="start center">
          <img class="icon" src="assets/icons/range.png">
          {{getStatDisplayValue(value?.range?.[scenarioLevel ?? 0]?.[index])}}
        </span>
      </div>
    </div>

    <p-divider></p-divider>

    <div>Tokens</div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <p-scrollPanel fxFlex="50" [style]="{ height: '6rem' }">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxFlex *ngFor="let token of (tokens$ | async)?.normals">
            <ng-container [ngTemplateOutlet]="listItemTemplate"
                          [ngTemplateOutletContext]="{ '$implicit': token }"></ng-container>
          </div>
        </div>
      </p-scrollPanel>

      <p-scrollPanel fxFlex="50" [style]="{ height: '6rem' }">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxFlex *ngFor="let token of (tokens$ | async)?.elites">
            <ng-container [ngTemplateOutlet]="listItemTemplate"
                          [ngTemplateOutletContext]="{ '$implicit': token }"></ng-container>
          </div>
        </div>
      </p-scrollPanel>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <button
      pButton
      type="button"
      (click)="addToken()"
      icon="pi pi-plus"></button>
  </mat-card-footer>
</mat-card>

<ng-template #listItemTemplate let-token>
  <div
    [id]="'list-item-' + (token.elite ? 'elite' : 'normal')"
    style="padding: .2rem"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap=".3rem"
    class="list-item">
    <div>{{token.number}} - <span class="text-red-600">{{token.health ?? token.maxHealth}}</span></div>

    <div fxFlex="58" fxLayout="row wrap" fxLayoutAlign="end center" (click)="showStatusSelectDialog = true">
      <ng-container *ngFor="let value of ApplicableConditions">
        <img [src]="'assets/icons/' + value.toLowerCase() + '.png'" style="max-height: 1rem; max-width: 1rem"
             [ngStyle]="{ 'opacity': token?.conditionsAndEffects?.[value] ? 1 : .25 }">
      </ng-container>
    </div>

    <div fxLayout="column" fxLayoutAlign="center end" fxFlex>
      <button
        (click)="tokenService.updateTokenHitPoint$.next([token, 1])"
        pButton
        pRipple
        type="button"
        style="background: unset; border: unset"
        icon="pi pi-plus"></button>

      <button
        (click)="tokenService.updateTokenHitPoint$.next([token, -1])"
        pButton
        pRipple
        type="button"
        style="background: unset; border: unset"
        icon="pi pi-minus"></button>
    </div>
  </div>
</ng-template>
