<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span class="main">{{monster.name}}</span>

      <app-monster-level [monster]="monster"></app-monster-level>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-card-content-wrapper"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="start center">
      <!-- stats section for both normals and elites -->
      <div class="monster-info-wrapper"
           fxLayout="row"
           fxLayoutAlign="space-between start">
        <!-- loop for normal vs elite monsters -->
        <ng-container *ngFor="let index of [0, 1]">
          <ng-container *ngIf="monster">
            <ng-container *ngIf="monsterLevel$ | async as level">
              <div fxLayout="column"
                   fxFlex
                   [fxLayoutAlign]="index === 0 ? 'start start' : 'start end'"
                   fxLayoutGap=".5rem">
                <!-- monster stats on the monster info card -->
                <app-monster-stats class="large"
                                   [monster]="monster"
                                   [level]="level"
                                   [index]="index">
                </app-monster-stats>

                <!-- statuses that the monster has on it's monster info card -->
                <div fxLayout="row">
                  <div *ngFor="let condition of ConditionsAndEffects"
                       fxLayout="row"
                       fxLayoutAlign="start center">
                    <img *ngIf="hasCondition(condition, index === 1)"
                         [src]="'assets/icons/' + condition.toLowerCase() + '.png'"
                         style="max-width: 2rem; max-height: 2rem;">
                    <span
                      *ngIf="showAdditionalConditionEffectInfo(condition) && monsterHasConditionEffect(condition, index === 1)"
                      style="margin: 0 .35rem; font-size: 1.5rem;">
                  {{monster?.conditionsAndEffects?.[condition]?.[level ?? 0]?.[index]?.[0] ?? monster?.conditionsAndEffects?.[condition]?.[level ?? 0]?.[index]}}
                      <span
                        *ngIf="condition === 'Retaliate' && monster?.conditionsAndEffects?.[condition]?.[level ?? 0]?.[index]?.[1] > 0">
                    @{{monster?.conditionsAndEffects?.[condition]?.[level ?? 0]?.[index]?.[1]}}
                  </span>
                </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <mat-divider style="width: 100%; margin: 1rem 0;"></mat-divider>

      <div fxFlex
           class="token-info-wrapper"
           fxLayout="column">
        <div class="mat-title"
             style="text-align: center">Tokens
        </div>

        <div class="token-list-wrapper"
             fxLayoutGap="2rem"
             fxLayout="row"
             cdkDropListGroup
             fxFlex>
          <ng-container *ngIf="tokens$ | async as tokens">
            <ng-container *ngFor="let tokenType of ['normals', 'elites']">
              <div fxFlex="50"
                   class="token-list">
                <div fxFlex
                     fxLayout="column"
                     fxLayoutAlign="start start"
                     cdkDropList
                     [cdkDropListData]="tokenType"
                     (cdkDropListDropped)="$event.previousContainer !== $event.container ? combatService.toggleTokenElite$.next($event.item.data) : undefined">
                  <app-token-list-item *ngFor="let token of tokens?.[tokenType]"
                                       cdkDrag
                                       [cdkDragData]="token"
                                       style="width: 100%;"
                                       [value]="token"
                                       [statuses]="getTokenConditionsAndEffects(token)"
                                       (statusPress)="tokenService.toggleTokenStatusEffect$.next(token)">
                  </app-token-list-item>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card-content>

  <button mat-mini-fab
          id="add-token"
          type="button"
          (click)="tokenService.addToken$.next(monster.id)">T
  </button>

  <button mat-mini-fab
          id="remove-monster"
          type="button"
          (click)="removeMonster()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>

<app-monster-ability-deck [monster]="monster"></app-monster-ability-deck>
