<ng-container *ngrxLet="monster$ as monster">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="main">{{monster.name}}</span>

        <ng-container *ngIf="!isBoss(monster)">
          <app-monster-level [monster]="monster"></app-monster-level>
        </ng-container>

        <span *ngIf="monster.flying">
        <img class="flying-icon"
             src="/assets/icons/flying.png"
             alt="flying">
      </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mat-card-content-wrapper">
        <!-- stats section for both normals and elites -->
        <div class="monster-stat-parent-wrapper"
             [ngClass]="{ boss: isBoss(monster) }">
          <!-- loop for normal vs elite monsters -->
          <ng-container *ngrxLet="monsterLevel$ | async as level">
            <ng-container *ngFor="let index of isBoss(monster) ? [0] : [0, 1]">
              <div class="monster-stat-attribute-wrapper"
                   [ngClass]="{
                    elite: index === 1,
                    boss: isBoss(monster)
                   }">
                <!-- monster stats on the monster info card -->
                <app-monster-attributes class="large"
                                        [monster]="monster"
                                        [level]="level"
                                        [index]="index">
                </app-monster-attributes>

                <!-- TODO add 'immunities' text for boss? -->
                <!-- statuses that the monster has on it's monster info card -->
                <div class="stats-wrapper"
                     [ngClass]="{
                      elite: index === 1,
                      boss: isBoss(monster)
                     }"
                     style="gap: .2rem;">
                  <app-monster-stat *ngFor="let effect of monster | conditionList : level : $any(index)"
                                    [condition]="$any(effect)"
                                    [conditionAmount]="monster | monsterStat : effect : level : $any(index)">
                  </app-monster-stat>

                  <app-monster-stat *ngFor="let effect of monster | attackEffectList : level : $any(index)"
                                    [condition]="$any(effect)"
                                    [conditionAmount]="monster | monsterStat : effect : level : $any(index)">
                  </app-monster-stat>

                  <app-monster-stat *ngFor="let effect of monster | bonusList : level : $any(index)"
                                    [condition]="$any(effect)"
                                    [conditionAmount]="monster | monsterStat : effect : level : $any(index)">
                  </app-monster-stat>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <mat-divider style="width: 100%; margin: 1rem 0;"></mat-divider>

        <ng-container *ngIf="!isBoss(monster)">
          <div class="token-info-wrapper">
            <div class="mat-h1 tokens-title">Tokens</div>

            <div class="token-list-wrapper"
                 cdkDropListGroup>
              <ng-container *ngIf="tokens$ | async as tokens">
                <ng-container *ngFor="let tokenType of ['normals', 'elites']">
                  <div class="token-list">
                    <div cdkDropList
                         [cdkDropListData]="tokenType"
                         (cdkDropListDropped)="$event.previousContainer !== $event.container ? combatService.toggleTokenElite$.next($event.item.data) : undefined">
                      <app-token-list-item *ngFor="let token of $any(tokens)?.[tokenType]"
                                           cdkDrag
                                           [cdkDragData]="token"
                                           style="width: 100%;"
                                           [value]="token"
                                           [statuses]="getTokenConditionsAndEffects(token)"
                                           (statusPress)="tokenService.updateTokenDetails$.next(token)">
                      </app-token-list-item>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <ng-container *ngrxLet="monster$ as monster">
        <ng-container *ngrxLet="!isBoss(monster)">
          <button mat-fab
                  extended
                  id="add-token"
                  type="button"
                  color="accent"
                  [disabled]="(tokenCount$ | async) === 10"
                  (click)="tokenService.addToken$.next(monster.id)">T
          </button>
        </ng-container>

        <button mat-fab
                extended
                id="remove-monster"
                type="button"
                (click)="removeMonster()">DEL
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card>

  <div id="deck-actions-container">
    <app-monster-ability-deck #abilityDeck [monster]="monster$ | async"></app-monster-ability-deck>
    <app-combat-actions [@drawerOpenClose]="drawerOpen ? 'actions-up' : 'actions-down'"
                        [actions]="(activeCard$ | async)?.actions"></app-combat-actions>
    <div #drawerHandle [@drawerOpenClose]="drawerOpen ? 'drawer-open' : 'drawer-closed'" class="drawer-handle"></div>
  </div>
</ng-container>
