.mat-dialog-content {
  :last-child {
    margin-bottom: 10px;
  }
}

section {
  margin-top: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;

  .stat-input {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    max-width: 50%;
  }
}

:host ::ng-deep .mat-form-field-infix {
  width: 100px;
}
