:host {
  position: fixed;
  top: 0;
  width: 100%;
}

.mat-toolbar {
  padding: 3rem;
}

.element-icon {
  max-width: 4rem;
  max-height: 4rem;
  filter: brightness(30%);

  &.dark {
    filter: brightness(100%);
  }

  &.infused {
    filter: brightness(100%) drop-shadow(8px 8px 2px rgba(25, 25, 25, .5));

    &.dark {
      filter: brightness(30%) drop-shadow(8px 8px 2px rgba(25, 25, 25, .5));
    }
  }

  &.waning {
    filter: brightness(80%) drop-shadow(3px 3px 2px rgba(25, 25, 25, .5));
  }
}
