<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="2rem">

  <app-scenario-level-input></app-scenario-level-input>

  <div fxLayout="column"
       fxLayoutAlign="start end"
       fxLayoutGap="1rem">
    <app-scenario-round></app-scenario-round>

    <app-turn-selector></app-turn-selector>
  </div>

  <div fxLayout="column"
       fxLayoutGap="-.15rem">
    <div>Shortcuts:</div>

    <div class="mat-body-2">Ctrl + up or down: change scenario level</div>

    <div class="mat-body-2">Ctrl + m: activate monster</div>
  </div>

  <span style="flex: 1 1 auto;"></span>

  <div fxLayout="row"
       fxLayoutGap="30px"
       class="element-wrapper">
    <div *ngFor="let element of elementService.elementStore.elements$ | async"
         class="element-icon"
         [ngClass]="{
              'infused': element.level === ElementPhases.infused,
              'waning': element.level === ElementPhases.waning,
              'dark': element.name === 'dark'
             }"
         (click)="elementService.cycleElement$.next(element.name)">
      <img [src]="'assets/icons/element-' + element.name + '.png'"
           alt="">
    </div>
  </div>
</mat-toolbar>

<button
  class="activate-monster"
  type="button"
  mat-fab
  color="accent"
  (click)="monsterService.selectMonsterToActivate().subscribe()">M
</button>
