<div mat-dialog-title>Create Boss</div>

<div mat-dialog-content>
  <h2>Attributes</h2>

  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControlName]="'name'"/>
    </mat-form-field>

    <ng-container [formGroupName]="'attributes'">
      <section class="stat-input-wrapper">
        <div class="stat-input"
             *ngFor="let stat of Attributes">
          <img [src]="'/assets/icons/' + stat + '.png'" style="max-width: 40px; height: auto;"/>

          <mat-form-field>
            <mat-label>{{stat | uppercase}}</mat-label>
            <input matInput [formControlName]="stat"
                   type="number"/>
          </mat-form-field>
        </div>
      </section>
    </ng-container>

    <h2>Conditions</h2>

    <ng-container [formGroupName]="'conditions'">
      <section>
        <mat-checkbox [labelPosition]="'before'"
                      *ngFor="let condition of Conditions">
          <img [src]="'/assets/icons/' + condition + '.png'"
               style="max-width: 40px; height: auto;"/>
        </mat-checkbox>
      </section>
    </ng-container>

    <h2>Attack Effects</h2>

    <ng-container [formGroupName]="'attackEffects'">
      <section>
        <mat-checkbox [labelPosition]="'before'"
                      *ngFor="let attackEffect of AttackEffects">
          <img [src]="'/assets/icons/' + attackEffect + '.png'"
               style="max-width: 40px; height: auto;"/>
        </mat-checkbox>
      </section>
    </ng-container>
  </form>
</div>

<mat-dialog-actions [align]="'end'">
  <button mat-flat-button
          [disabled]="!formGroup.valid"
          [mat-dialog-close]="getValue()"
          color="primary">OK
  </button>
</mat-dialog-actions>
