<div class="p-dialog-content">
  <p-autoComplete
    [autofocus]="true"
    appendTo="body"
    dataKey="id"
    [autoHighlight]="true"
    [(ngModel)]="selected"
    [dropdown]="true"
    [forceSelection]="true"
    [suggestions]="searchResults"
    field="name"
    (onSelect)="selectMonster($event)"
    (completeMethod)="search($event)">
  </p-autoComplete>
</div>

<div class="p-dialog-footer">
  <button [disabled]="!selectedMonster" (click)="close(selectedMonster!.id)" type="button" pButton>OK</button>
</div>
