<h1 mat-dialog-title>Activate a monster</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input type="text"
           matInput
           placeholder="Monster"
           [formControl]="monsterInputControl"
           [matAutocomplete]="autocompleteTemplateRefId">

    <mat-autocomplete #autocompleteTemplateRefId="matAutocomplete"
                      [autoActiveFirstOption]="true"
                      (optionSelected)="selectMonster($event)"
                      [displayWith]="displayAutocompleteForValue">
      <mat-option *ngFor="let choice of filteredAvailableMonsters$ | async" [value]="choice">
        {{choice.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          [disabled]="!selected"
          (click)="close(selected!.id)"
          type="button">
    OK
  </button>
</div>
