<div mat-dialog-title>Monster Level</div>

<mat-dialog-content>
  <ng-container [formGroup]="formGroup">
    <mat-form-field>
      <input matInput
             [min]="0"
             [max]="7"
             formControlName="level"
             type="number">
      <mat-hint>Number should different than the current</mat-hint>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          [disabled]="formGroup.get('level').value === (monsterLevel$ | async)"
          (click)="matDialog.close(this.formGroup.get('level').value)">OK
  </button>

  <button mat-raised-button
          color="accent"
          (click)="matDialog.close(null)">CLEAR
  </button>
</mat-dialog-actions>
