<div mat-dialog-title>Token Details</div>

<mat-dialog-content class="content-container">
  <form>
    <mat-form-field class="hit-point-input">
      <mat-label>Hit points</mat-label>

      <ng-container *ngrxLet="token$ | async as token">
        <input matInput
               [formControl]="hitPointControl"
               (blur)="combatService.updateTokenHitPoint$.next([token, hitPointControl.value])"
               type="number"
               min="0"
               [max]="(token$ | async)?.maxHealth"
               placeholder="max {{(token$ | async)?.maxHealth}}">
      </ng-container>

      <mat-hint>Setting to 0 will delete token<br />Token hit point changes apply when focus leaves the input</mat-hint>
    </mat-form-field>

    <div fxFlexFill
         fxLayout="row wrap"
         fxLayoutAlign="center center"
         fxLayoutGap=".7rem grid"
         style="padding: 1rem; overflow: hidden">
      <img *ngFor="let value of ApplicableConditions"
           [src]="'assets/icons/' + value.toLowerCase() + '.png'"
           [ngStyle]="{ 'filter': ((token$ | async)?.appliedConditionsAndEffects?.[value.toString()] ?? 0) > 0 ? 'brightness(100%)' : 'brightness(35%)' }"
           (click)="combatService.toggleTokenCondition$.next({ token: data, condition: value})">
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          [disabled]="!hitPointControl.valid"
          [mat-dialog-close]="null">OK
  </button>
</mat-dialog-actions>
