/** The overlay that appears when adding a status effect or condition to a token */
.content-container {
  img {
    max-width: 3.5rem;
    height: auto;
    cursor: pointer;
  }

  .hit-point-input {
    margin-bottom: 20px;
  }

  :first-child {
    margin-top: 10px;
  }

  :last-child {
    margin-bottom: 15px;
  }
}
