@import '../../../../css/colors';

.mat-h1 {
  margin-bottom: 0;
}

.content {
  position: relative;
}

.has-conditions {
  margin-right: 5px;

  &::after {
    content: '*';
    vertical-align: super;
    position: absolute;
  }
}

.health {
  color: $deep-red;
}
