<p-dock [model]="dockModel">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.icon" [alt]="item.label" width="100%"/>
  </ng-template>
</p-dock>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <span>Scenario Level</span>

    <p-divider layout="vertical"></p-divider>

    <p-inputNumber [showButtons]="true"
                   [min]="0"
                   [max]="7"
                   [inputStyle]="{ maxWidth: '100px' }"
                   (onInput)="appService.scenarioLevel$.next($event.value)"
                   [ngModel]="appService.scenarioStore.level$ | async"></p-inputNumber>
  </div>

  <div class="p-toolbar-group-right"></div>
</p-toolbar>
