<p-toolbar>
  <div class="p-toolbar-group-left">
    <span>Scenario Level</span>

    <mat-divider [vertical]="true"></mat-divider>

    <mat-form-field appearance="outline">
      <input [formControl]="levelInputControl"
             [value]="appService.scenarioStore.level$ | async"
             matInput
             type="number"
             [min]="0"
             [max]="7">
    </mat-form-field>
  </div>

  <div class="p-toolbar-group-right">
    <p-splitButton
      [model]="toolbarButtons"
      (onClick)="activateMonster($event)"
      label="Activate Monster"
      styleClass="p-button-raised mr-2 mb-2"></p-splitButton>
  </div>
</p-toolbar>

<div
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap=".7rem"
>
  <div
    *ngFor="let monster of (monsterService.activeMonsterStore.activeMonsters$ | async) ?? []">
    <app-active-monster-card [value]="monster"></app-active-monster-card>
  </div>

</div>


