:host {
  font-family: gloomhaven, "Segoe UI", Roboto, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
