:host {
  /*display: flex;
  justify-content: center;*/
  display: block;
  margin: 0 auto;
}

img {
  min-height: 100px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.disabled:not(:hover) {
  filter: brightness(.5);
}
