<div fxLayout="row"
     fxLayoutAlign="space-around"
     class="container">
  <span fxLayout="column"
        fxLayoutAlign="start center">
    <img class="icon"
         src="../../../../assets/icons/health.png">
    {{ monster | monsterStat : 'health' : level : $any(index) }}
  </span>

  <span fxLayout="column"
        fxLayoutAlign="start center">
    <img class="icon"
         src="../../../../assets/icons/move.png">
    {{ monster | monsterStat : 'move' : level : $any(index) }}
  </span>

  <span fxLayout="column"
        fxLayoutAlign="start center">
    <img class="icon"
         src="../../../../assets/icons/attack.png">
    {{ monster | monsterStat : 'attack' : level : $any(index) }}
  </span>

  <span fxLayout="column"
        fxLayoutAlign="start center">
    <img class="icon"
         src="../../../../assets/icons/range.png">
    {{ monster | monsterStat : 'range' : level : $any(index) }}
  </span>
</div>
