.container {
  padding: .5rem;
  font-size: 1rem;

  .icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
  }
}

:host {
  &.large {
    .container {
      font-size: 1.5rem;

      .icon {
        max-height: 2.5rem;
        max-width: 2.5rem;
      }
    }
  }
}
