.container {
  padding: .5rem;
  font-size: 1rem;

  .icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
  }
}

:host {
  &.normal .container {
    background: linear-gradient(to right, rgba(var(--gray), .5) -25%, rgba(var(--gray), .2) 125%);
  }

  &.elite .container {
    background: rgba(var(--gold), .5);
    background: linear-gradient(to right, rgba(var(--gold), .2) -25%, rgba(var(--gold), .5) 125%);
  }

  &.large {
    .container {
      font-size: 1.5rem;

      .icon {
        max-height: 2.5rem;
        max-width: 2.5rem;
      }
    }
  }
}
