<div
  [id]="'list-item-' + (value.elite ? 'elite' : 'normal')"
  class="list-item">
  <!-- token health display -->
  <div class="health-container">
    <!-- Token and health display -->
    <app-token-health [token]="value"></app-token-health>

    <!-- token health adjustment buttons -->
    <div class="arrows-container">
        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) + 1])"
                  class="button">arrow_drop_up</mat-icon>

        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) - 1])"
                  class="button">arrow_drop_down</mat-icon>
    </div>
  </div>

  <!-- active statuses -->
  <div class="button"
       (click)="statusPress.emit()">
    <ng-container *ngIf="(statuses || []).length > 0; else openApplicableConditions">
      <ng-container *ngFor="let value of statuses">
        <img
          [src]="'assets/icons/' + value.name.toLowerCase() + '.png'"
          class="status-icon">
      </ng-container>
    </ng-container>

    <ng-template #openApplicableConditions>
      <span class="material-icons-outlined">more_horiz</span>
    </ng-template>
  </div>
</div>
