<div
  [id]="'list-item-' + (value.elite ? 'elite' : 'normal')"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap=".3rem"
  class="list-item">
  <!-- token health display -->
  <div fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap=".5rem">
    <!-- Token and health display -->
    <app-token-health [token]="value"></app-token-health>

    <!-- token health adjustment buttons -->
    <div fxLayout="column"
         fxLayoutAlign="space-between center"
         fxLayoutGap="-.25rem">
        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) + 1])"
                  class="button">arrow_drop_up</mat-icon>

        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) - 1])"
                  class="button">arrow_drop_down</mat-icon>
    </div>
  </div>

  <!-- active statuses -->
  <div fxLayout="row wrap"
       fxLayoutAlign="end center"
       fxLayoutGap="0 grid"
       fxFlex="1 1 0"
       class="button"
       (click)="statusPress.emit()">
    <ng-container *ngIf="(statuses || []).length > 0; else openApplicableConditions">
      <ng-container *ngFor="let value of statuses">
        <img
          [src]="'assets/icons/' + value.name.toLowerCase() + '.png'"
          class="status-icon">
      </ng-container>
    </ng-container>

    <ng-template #openApplicableConditions>
      <span class="material-icons-outlined">more_horiz</span>
    </ng-template>
  </div>
</div>
