<div
  [id]="'list-item-' + (value.elite ? 'elite' : 'normal')"
  class="list-item">
  <!-- token health display -->
  <div class="health-container">
    <!-- Token and health display -->
    <app-token-health [token]="value"></app-token-health>

    <!-- token health adjustment buttons -->
    <div class="arrows-container">
        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) + 1])"
                  class="button">arrow_drop_up</mat-icon>

        <mat-icon (click)="combatService.updateTokenHitPoint$.next([value, (value.health ?? value.maxHealth) - 1])"
                  class="button">arrow_drop_down</mat-icon>
    </div>
  </div>

  <!-- active statuses -->
  <div class="button status-container"
       (click)="statusPress.emit()">
    @if ((statuses || []).length > 0) {

      @for (value of statuses; track value) {

        <img
          [src]="'assets/icons/' + value.name.toLowerCase() + '.png'"
          class="status-icon">
      
}
    
} @else {

      <span class="material-icons-outlined">more_horiz</span>
    
}

    
  </div>
</div>
