<div mat-dialog-title>Choose a token</div>

<mat-dialog-content>
  <div class="container">
    <div class="token-icons-grid">
      <div class="token-icon"
           *ngFor="let index of defaultNumbers">
        <ng-container [ngTemplateOutlet]="buttonTemplate"
                      [ngTemplateOutletContext]="{ $implicit: index, elite: false }">
        </ng-container>
      </div>
    </div>

    <div class="token-icons-grid">
      <div class="token-icon"
           *ngFor="let index of defaultNumbers">
        <ng-container [ngTemplateOutlet]="buttonTemplate"
                      [ngTemplateOutletContext]="{ $implicit: index, elite: true }">
        </ng-container>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-raised-button
          (click)="confirmTokens()"
          [disabled]="!selectedTokens.normal.length && !selectedTokens.elite.length"
          color="primary">OK
  </button>
</mat-dialog-actions>

<ng-template #buttonTemplate let-index let-elite="elite">
  <button
    [ngClass]="{
      'button-elite': elite,
      'selected': isSelected(index, elite)
    }"
    (click)="toggleTokenNumber(index, elite)"
    [ngStyle]="{'visibility': getTokenButtonVisible(index, elite)}"
    type="button"
    extended
    mat-fab>
    {{index}}
  </button>
</ng-template>
