:host ::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-content {
    padding: 1rem 3rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .token-icons-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        margin: .5rem;
        > * {
          padding: -.5rem;
          flex: calc(50% - .5rem);
        }
      }
    }
  }

  .mat-mdc-mini-fab.mat-accent {
    background-color: gray;
    border-color: gray;

    &.button-elite {
      background-color: gold;
      border-color: gold;
    }

    &.selected {
      filter: brightness(20%);
    }
  }
}
