:host ::ng-deep {
  mat-dialog-content {
    padding: 1rem 3rem;
  }

  .mat-mini-fab.mat-accent {
    background-color: gray;
    border-color: gray;

    &.button-elite {
      background-color: gold;
      border-color: gold;
    }

    &.selected {
      filter: brightness(20%);
    }
  }
}
