<div mat-dialog-title>Choose a token</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="row wrap" fxLayoutGap=".2rem grid" fxFlex="0">
    <div fxFlex *ngFor="let index of defaultNumbers">
    <button
      class="button-normal"
      (click)="selectTokenNumber(index, false)"
      [ngStyle]="{'visibility': getTokenButtonVisible(index)}"
      type="button"
      mat-mini-fab>
      {{index}}
    </button>
    </div>
  </div>

  <mat-divider fxFlex [vertical]="true"></mat-divider>

  <div fxLayout="row wrap" fxLayoutGap=".2rem grid" fxFlex="0">
    <div fxFlex *ngFor="let index of defaultNumbers">
    <button
      class="button-elite"
      (click)="selectTokenNumber(index, true)"
      [ngStyle]="{'visibility': getTokenButtonVisible(index)}"
      type="button"
      mat-mini-fab>
      {{index}}
    </button>
    </div>
  </div>
</div>
