/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@font-face {
  font-family: 'gloomhaven';
  src: url('/assets/fonts/PirataOne-Gloomhaven.ttf');
}

$my-custom-typography: mat.define-typography-config(
 $font-family: 'gloomhaven'
);

@mixin app-mat-button() {
  .mat-raised-button {
    font-size: 1rem;
  }
}

@mixin app-mat-input() {
  mat-form-field {
    .mat-form-field-infix > .mat-input-element {
      font-size: 1rem;
    }
  }
}

@mixin components() {
  @include app-mat-button();
  @include app-mat-input();
}

@include mat.core($my-custom-typography);
@include components();

html, body { height: 100%; font-size: 18px; }
body { margin: 0; }
