/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'gloomhaven';
  src: url('/assets/fonts/PirataOne-Gloomhaven.ttf');
}

html {
  font-size: 1.5rem;
}

.p-component {
  font-family: gloomhaven, "Segoe UI", Roboto, sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  height: auto;
  max-width: 1.5rem;
}
